<div id="credits">
    <a href="#/main"><button class="btn btn-primary">Go back</button></a>

    <div id="credit-data">
        <h1>PartySpy</h1>

        <p>PartySpy was written by <a href="http://twitter.com/lthummus">LtHummus</a></p>
        <p>PartySpy is proud to be <a href="https://github.com/LtHummus/PartySpy">open source software</a></p>


        <h2>Special Thanks</h2>
        <ul>
            <li>aforgottentune</li>
            <li>AlfalfaScout</li>
            <li>BTM_pl</li>
            <li>cameraman101</li>
            <li>canadianbac0n</li>
            <li>Chris Hecker</li>
            <li>Cleetose</li>
            <li>elvisnake</li>
            <li>magician1099</li>
            <li>SpiritSails</li>
            <li>Tantusar</li>
            <li>Wodar</li>
        </ul>


        <h3>PartySpy uses the following Open Source Libraries</h3>
        <ul>
            <li><a href="http://electron.atom.io/">Electron</a></li>
            <li><a href="https://angularjs.org/">AngularJS</a></li>
            <li><a href="http://getbootstrap.com/">Bootstrap</a></li>
            <li><a href="http://underscorejs.org/">Underscore</a></li>
            <li><a href="http://www.chartjs.org/">ChartJS</a></li>
            <li><a href="https://fortawesome.github.io/Font-Awesome/">Font Awesome</a></li>
            <li><a href="https://jquery.com/">JQuery</a></li>
            <li><a href="https://github.com/maritz/node-sprintf">sprintf-js</a></li>
            <li><a href="https://github.com/szwacz/fs-jetpack">fs-jetpack</a></li>
            <li><a href="http://momentjs.com/">Moment.js</a></li>
            <li><a href="https://github.com/broofa/node-uuid">node-uuid</a></li>
            <li><a href="https://github.com/SheetJS/js-xlsx">js-xlsx</a></li>
            <li><a href="http://t4t5.github.io/sweetalert/">Sweet Alert</a></li>
            <li><a href="https://github.com/snaptortoise/konami-js">konami-js</a></li>
        </ul>


        <div class="final-words">
            PartySpy is not affiliated with <a href="http://spyparty.com">SpyParty</a>.  All trademarks and images belong to them.
        </div>
    </div>
</div>
