.image {
    display: inline-block;
    position: relative;
}

.image img {
    display: block;
}

#charsandlights {
    font-size: 24px;
}

.image--spy-border:after {
    content: ' ';
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 5%;
    background: #00FF00;
    z-index: 2;
}

.image--amba-border:after {
    content: ' ';
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 5%;
    background: #FF00FF;
    z-index: 2;
}

.image--st-border:after {
    content: ' ';
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 5%;
    background: #FF0000;
    z-index: 2;
}

.image--da-border:after {
    content: ' ';
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 5%;
    background: #FFFF00;
    z-index: 2;
}

.image--other-border:after {
    content: ' ';
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 5%;
    background: #B2CCB2;
    z-index: 2;
}

